/* Entferne margin oben für mobile Ansicht */
body {
    margin-top: 0;
}

/* Anpassung für das Navbar-Brand-Logo */
.navbar-brand {
    font-weight: bold;
}

/* Projekte-Cards gleich groß machen */
.card {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Responsive Anpassung für "Über mich" */
@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
    }

    .about-section img {
        margin-bottom: 20px;
    }
}
